
.error { color:#F00; font-size:70%; }

.disabled { border:1px solid Blue; }

.tip { position:relative; position:absolute; color:#66a; font-size:70%;
  width:200px; text-align:right; padding-top:2px;
}

body { font-family:century gothic, verdana, arial, sans-serif; color:#666; margin:0px 40px; }

/* [type='text'], input[type='password'] */
select, textarea, input {
  font-family:Century Gothic; font-size:1em; padding:0px 3px; margin:2px;
  border:1px solid #999;
}

/* [type='text'], input[type='password'] */
table, tr, td, select, textarea, input
{ -moz-border-radius:5px; }

button, input[type='button'], input[type='submit'], input[type='cancel']
{ font-family:Century Gothic; font-size:1em; }

a { color:Blue; text-decoration:none; }
a:hover { background-color:#ffc; color:#fc6; }
a:active { color:#fc6; }

h1 { color:#000; font-weight:bold; font-size:130%; }
h2 { color:#000; font-size:110%; }
h3 { color:#000; font-size:100%; }
h4 { color:#000; font-size:90%; }

table { border-collapse:collapse; border-spacing:5px; }
table, td, th { border:1px solid #ccc; padding:5px; }
table.form th { text-align:right; font-weight:normal; }
table.grey th { background:#eee; font-weight:normal; }
table.plain { border:0; }
table.plain td { border:0; }
table.plain th { border:0; }
